@font-face {
    font-family:TT Lakes;
    src: url('Font/TTLakes-Regular.ttf');
}

body {
    background-color: #C4C4C4;
}
/* Поиск */
.app {
    text-align: center;
    margin-top: 150px;
    font-family: TT Lakes;
    font-size: 48px;
    padding: 0 20px 0 20px;
}
.app-container {
    display: flex;
    width: 500px;
    margin: auto;
    min-height: 228px;
    flex-direction: column;
    box-sizing: border-box;
}

input {
    width: 492px;
    Height: 61px;
}
.app-content {
    width: 100%;
    cursor: pointer;
    font-size: 30px;
    line-height: 35px;
    border: 2px solid #000000;
    box-sizing: border-box;
    background-color: #E3E3E3;
}

.app-content:hover {
    background-color: #65CDF9;
    cursor: pointer;
}

.chosen-container {
    flex-direction: column;
    margin: auto;
    display: flex;
    top: 326px;
    width: 500px;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
}

.chosen {
     display: flex;
    text-align: left;
    vertical-align: middle;
    font-size: 24px;
    padding: 8px 16px;
    line-height: 28px;
    border: 1px solid #000000;
    background-color: #E27BEB;
}

.btn-close {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-repeat: no-repeat;
    background-image: url("Img/Cross.png");
    background-color: transparent;
    background-size: contain;
    outline: none;
    border: none;
    cursor: pointer;
    width: 42px;
    height: 38px;
    right: 17px;
}